.center-h1{
    text-align: center;
}
.center-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.increseSize{
    font-size: 4rem;
    font-family: poppins;
    font-weight: 400;
}
.over{
    font-size: 2rem;
    
}

@media (max-width:850px) {
    .scoreStyle {
        flex-direction: column;
    }
    .teamA {
        width: 100%;
    }
    .batsmanName {
        width: 100%;
        justify-content: space-around;
    }
    .bowllerName {
        width: 100%;
    }
    .form-div {
        max-width: 350px;
        position: inherit;
    }
}